<script id="hold-current-user" type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>

<div id="content">
  Zaetom∞ Descended!<p>
    Academic App King - Mythical Plus
                        Stamina: 50<p>
    Academic App King - Legend Plus
                        Stamina: 40<p>
<br />
  APP Academy<p>
    Classroom of Trials - Web Developer
                          Stamina: 50<p>
    Classroom of Trials - Legend
                          Stamina: 45<p>
    Classroom of Trials - Master
                          Stamina: 40<p>
    Classroom of Trials - Expert
                          Stamina: 25<p>
    Classroom of Trials - Int
                          Stamina: 15<p>
</div>
