<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="users_username">
    Create a new username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label for="users_password">
    Create a new password
    <input type="password" name="user[password]" value="">
  </label>
  <input type="submit" value="">
