.homepage-header {
  position: relative;
  height: 201px;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.homepage-header:after{
  content: "";
  display: table;
  clear: both;
}

.splash-page-1 {
  background-color: #104da1;
  height: 618px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 22px;
}

.main-page-logo {
  position: absolute;
  left: 50%;
  margin-left: -103px;
  bottom: 0px;
}

.main-page-login {
  color: white;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
}

.mp-su {

}

.sign-up-link {
  margin: 10px;
  border: 1px solid;
  border-color: #4879c1;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-up-button {
  border: 1px solid;
  border-color: #4879c1;
  width: 86px;
  height: 43px;
  color: white;
  text-align: center;
  margin-bottom: 1px;
}

.main-page-slogan {
  color: white;
  margin: 0 auto 30px;
  text-align: center;
  font-weight: 300;
  width: 660px;
  line-height: 22px;
}

.login-form-container {
  color: white;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  width: 660px;
  line-height: 22px;
}

.big-form-span {
  font-size: 22px;
  vertical-align: top;
  padding-right: 14px;
  margin-right: -4px;
}

.login-input-1 {
  display: inline-block;
  white-space: nowrap;
}

.login-input {
  display: inline-block;
  background: white;
  border-radius: 2px;
  border: 1px solid;
  border-color: #9dbaf2;
}

.signup-1 {
  background: #3260c7;
  color: white;
  font-size: 18px;
  border: 0px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

.saucy-reasons {
  font-size: 24px;
  display: block;
}
