.homepage-header {
  position: relative;
  height: 201px;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.homepage-header:after{
  content: "";
  display: table;
  clear: both;
}

.splash-page-1 {
  background-color: #4fc5d0;
  height: 618px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 22px;
}

.main-page-logo {
  position: absolute;
  left: 15%;
  margin-left: -103px;
  bottom: 140px;
  width: 100px;
}

.main-page-login {
  color: white;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
}

.mp-su {

}

.sign-up-link {
  margin: 10px;
  border: 2px solid;
  border-radius: 5px;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-up-button {
  border: 2px solid;
  border-radius: 5px;
  width: 86px;
  height: 47px;
  color: white;
  text-align: center;
  margin-bottom: 1px;
}

.sign-up-link:hover, .sign-up-link:focus, .sign-up-link:active {
  background-color: #72c6ce;
}

.sign-up-button:hover, .sign-up-button:focus, .sign-up-button:active {
  background-color: #72c6ce;
}

.main-page-slogan {
  color: white;
  margin: 0 30px;
  text-align: left;
  font-weight: 800;
  width: 660px;
  line-height: 22px;
}

.login-form-container {
  color: white;
  margin: 0 30px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

.big-form-span {
  font-size: 22px;
  vertical-align: middle;
  padding-right: 14px;
}

.login-input-1 {
  color: black;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.login-input {
  color: black;
  display: inline-block;
  background: white;
  border-radius: 2px;
  border: 1px solid;
  border-color: #9dbaf2;
  margin: 5px;
  height: 40px;
  box-shadow: 1px 2px 6px #07408d;
}

.signup-1 {
  background: #3260c7;
  color: white;
  font-size: 18px;
  border: 0px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 58px;
  width: 230px;
  box-shadow: 1px 2px 6px #07408d;
}

.saucy-reasons {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 1140px;
  max-width: 1140px;
  padding-top: 40px;
  padding-bottom: 62px;
}

.saucy-reason-each {
  float: left;
  display: block;
}

.saucy-image {
  width: 104px;
  height: 116px;
  margin-left: auto;
  margin-right: auto;
}

.saucy-texts {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 240px;
  margin-left: 60px;
  margin-right: 60px;
}

.submit-button {
  background-color: #4c7bd9;
  border-radius: 3px;
  width: 154px;
  height: 58px;
  color: white;
  text-align: center;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 18px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.submit-button:hover, .submit-button:focus, .submit-button:active {
  box-shadow: 0 0 8px rgba(0, 255, 0, 1);
}
