.mainpage-render {
}

.users-listing {
  width: 1000px;
}

.match-display-li {
  position: relative;
  list-style: none;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin: 5px;
  height: auto;
  box-shadow: 0px 1px 2px #808080;
  font-family: 'Open-Sans', sans-serif;
  display: inline-block;
  width: 300px;
  height: 470px;
}

.match-display-image {
  float: right;
  height: 200px;
  width: 280px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.match-display-name {
  font-size: 22px;
  font-weight: 300;
  color: #5e6573;
}

.match-display-details {
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 20px;
  color: #949aa6;
}

.match-image {
  width: inherit;
  height: inherit;
}
