.navbar {
  border-bottom: 1px solid;
  border-color: 275eaa;
  background-color: #104da1;
  height: 66px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.mini-logo {
  position: absolute;
  margin-left: 30px;
  top: 14px;
}

.user-nav-detail {
  margin-right: 30px;
  margin-top: 15px;
  color: white;
  float: right;
}

.profile-message {
  margin-right: 25px;
  margin-top: 8px;
  float: left;
  width: 30px;
}

.profile-mini-pic {
  width: 42px;
  border-radius: 20px;
  background-color: gainsboro;
}

.profile-dropdown-menu, .message-dropdown-menu {
  display: block;
  position: absolute;
  color: black;
  float: right;
  width: auto;
  top: 71px;
  right: 2px;

  visibility: hidden;
  opacity: 0;
  z-index: 900;
  transform: scale(1);
  transform-origin: 200px 0;
  transition: opacity 200ms ease, transform 200ms ease, visibility 200ms ease;
}

.user-nav-detail dropdown-menu:hover > sign-out profile-click
{
  display:block;
}

.sign-out {
  float: right;
  background: white;
  width: 180px;
  padding: 10px 20px;
  font-family: sans-serif;
  box-shadow: 0px 1px 1px black;
}

.profile-click {
  background: white;
  width: 180px;
  padding: 10px 20px;
  font-family: sans-serif;
  box-shadow: 0px 1px 1px black;
}

.profile-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px 156px 10px 19px;
  margin: -20px;
}

.sign-out-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px 148px 10px 18px;
  margin: -20px;
}

.sign-out-button:hover, .profile-button:hover {
  color: #6a7dcd;
}

.message-dropdown-menu {
  display: block;
  position: absolute;
  color: black;
  float: right;
  top: 71px;
  right: 60px;
  background: white;
  width: 380px;
  padding: 10px 20px;
  font-family: sans-serif;
  min-height: 400px;
  box-shadow: 0px 1px 1px black;
  border-radius: 5px;

  visibility: hidden;
  opacity: 0;
  z-index: 900;
  transform: scale(1);
  transform-origin: 200px 0;
  transition: opacity 200ms ease, transform 200ms ease, visibility 200ms ease;
}

.message-click {

}

.message-button {

}

.message-see-all {

}

.message-see-all-text {

}
