.user-profile {
  background-color: #104da1;
  min-height: 100vh;
}

.profile-content {
  background-color: #f3f5f9;
  border-radius: 6px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 80px;
  width: 940px;
}

.profile-header {
  padding-top: 40px;
  position: relative;
  height: 310px;
  margin: 0px 30px 40px;
  border-bottom: 1px solid #ccd0d9;
  font-family: 'Open Sans', sans-serif;
}

.user-picture {
  width: 210px;
  height: 210px;
  background-color: #ccd0d9;
  border-radius: 150px;
}

.profile-info {
  top: 100px;
  bottom: auto;
  position: absolute;
  left: 26%;
  font-family: sans-serif;
}

.profile-username {
  display: block;
  padding: 0;
  height: 44px;
  color: #474d59;
  overflow: visible;
  font-size: 32px;
  font-weight: 100;
  line-height: 44px;
}

.profile-deets {
  display: inline-block;
  padding: 0 40px 0 0;
  color: #949aa6;
  font-size: 15px;
}

.profile-body {
  padding-bottom: 120px;
  margin-bottom: 50px;
}

.profile-body-section {
  padding-left: 30px;
  font-family: sans-serif;
  max-width: 550px;
  float: left;
}
.body-info-label {
  color: #474d59;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}

.body-info-text {
  margin-bottom: 10px;
}

.profile-tabs{
  position: absolute;
  height: 30px;
  padding-top: 70px;
}

.profile-tab-link {
  bottom: 0;
  left: 0;
  float: left;
  padding: 0;
  margin-right: 30px;
  height: 31px;
  color: #474d59;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 25px;
}

.profile-footer {
  background-color: #104da1;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 13%;
  color: #4c7bd9;
}

.edit-icon {
  width: 15px;
  display: inline;
  cursor: pointer;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.edit-icon:hover, .edit-icon:focus, .edit-icon:active {
  -webkit-animation-name: edit-icon;
  animation-name: edit-icon;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes edit-icon {
  16.65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  33.3% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes edit-icon {
  16.65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  33.3% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.user-info {
  color: #5e6573;
  display: inline-block;
  background: white;
  border-radius: 4px;
  border: 1px solid;
  border-color: #aeb4bf;
  min-height: 200px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  resize: none;
}

.info-submit-button {
  background-color: #00d280;
  border-radius: 3px;
  width: 120px;
  height: 50px;
  color: white;
  text-align: center;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 16px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.info-submit-button:hover, .info-submit-button:focus, .info-submit-button:active {
  box-shadow: 0 0 8px rgba(0, 255, 0, 1);
}

.info-cancel-button {
  background-color: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  width: 120px;
  height: 50px;
  color: #5e6573;
  text-align: center;
  margin-bottom: 1px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.info-cancel-button:hover, .info-cancel-button:focus, .info-cancel-button:active {
  background-color: whitesmoke;
  box-shadow: 0 0 5px rgba(15, 15, 15, .5);
}

.edit-form {

}

.upload-input {
  border: black 1px solid;
  cursor: pointer;
}
