.user-profile {
  background-color: #104da1;
}


.profile-content {
  background-color: #f3f5f9;
  border-radius: 3px;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 940px;
}

.profile-header {
  padding-top: 40px;
  position: relative;
  height: 310px;
  margin: 0px 30px 40px;
  border-bottom: 1px solid #ccd0d9;
  font-family: 'Open Sans', sans-serif;
}

.user-picture {
  width: 210px;
  height: 210px;
  background-color: #ccd0d9;
}

.profile-info {
  top: 100px;
  bottom: auto;
  position: absolute;
  left: 26%;
  font-family: sans-serif;
}

.profile-username {
  display: block;
  padding: 0;
  height: 44px;
  color: #474d59;
  overflow: visible;
  font-size: 32px;
  font-weight: 100;
  line-height: 44px;
}

.profile-deets {
  display: inline-block;
  padding: 0 40px 0 0;
  color: #949aa6;
  font-size: 15px;
}

.profile-body {
  padding-bottom: 120px;
  margin-bottom: 50px;
}

.profile-body-section {
  padding-left: 30px;
  font-family: sans-serif;
  max-width: 550px;
  float: left;
}
.body-info-label {
  color: #474d59;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}

.body-info-text {
  margin-bottom: 10px;
}

.profile-tabs{
  position: absolute;
  height: 30px;
  padding-top: 70px;
}

.profile-tab-link {
  bottom: 0;
  left: 0;
  float: left;
  padding: 0;
  margin-right: 30px;
  height: 31px;
  color: #474d59;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 25px;
}

.profile-footer {
  background-color: #104da1;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 13%;
  color: #4c7bd9;
}
