.questions-index{
  font-family: 'Open-Sans', sans-serif;
}

.question-each{
  width: 50%;
  border-bottom: 1px solid #ccd0d9;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 30px;
  background: #FFF;
  border-radius: 3px;
}

.question-asked{
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #5e6573;
  margin-bottom: 15px;
}

.answers-given{
  font-size: 14px;
  position: relative;
  line-height: 32px;
  margin-left: 18px;
}

.chosen-answer{
  color: #00d280;
  list-style-type: circle;
}

.unchosen-answer{
  color: #949aa6;
  list-style-type: initial;
  text-decoration: line-through;
}
